body {
  margin: 0;
  padding: 0;
  background-color: #fbbcbc;
  user-select: none;
}

.board {
  margin: 3.9% auto 2% auto;
  width: 30vw;
  height: 30vw;
  display: grid;
  grid-template-columns: auto auto auto;
}

.box {
  width: 9vw;
  height: 9vw;
  border: white solid 0.6vw;
  text-align: center;
  border-radius: 20%;
  background: linear-gradient(45deg, #e2a9a9, #ffc9c9);
  box-shadow: 29px -29px 79px #cb9898, -29px 29px 79px #ffe0e0;
}

.box:active {
  transform: translateY(2px);
}
.box:hover {
  transform: translateY(1px);
}

.x-or-o {
  width: 6vw;
  margin-top: 15%;
}

.winning-box {
  border: rgb(255, 255, 0) solid 0.6vw;
}

.game-container {
  text-align: center;
}

.restart-btn {
  height: 4vw;
  width: 5vw;
  border: 0;
  border-radius: 20px;
  background: linear-gradient(145deg, #e86f6f, #c35e5e);
  box-shadow: 10px 10px 40px #b85858, -27px -27px 54px #fa7878;
  color: white;
}

.restart-btn:active {
  transform: translateY(2px);
  background: linear-gradient(145deg, #e86f6f, #8b3b3b);
}

.restart-btn:hover {
  transform: translateY(2px);
  background: linear-gradient(145deg, #e86f6f, #8b3b3b);
}

.restart-logo {
  height: 2vw;
}

.box h1 {
  margin: 0;
}

.result-container {
  color: #5c1111;
  margin: 0;
  font-size: 1.8vw !important;
  height: 1vw;
  width: 100vw;
  font-family: "Inter";
}

.multiplayer {
  text-align: center;
}

.joinGameContainer {
  height: 45vh;
  width: 30vw;
  border-radius: 3vw;
  margin: 5% auto;
  background: linear-gradient(145deg, #fda8a8, #d48d8d);
  box-shadow: 32px 32px 64px #b87a7a, -32px -32px 64px #ffc0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.joinGameContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Inter";
  color: white;
}
.joinGameContainer input {
  font-family: "Inter";
  font-weight: bold;
  outline: none;
  width: 12vw;
  height: 4vh;
  border: 0;
  margin: 3%;
  background: #ffffff;
  box-shadow: inset 21px 21px 42px #cccccc, inset -21px -21px 42px #ffffff;
  border-radius: 0.7vw;
  padding: 5px;
  font-size: 16px;
}

.joinGameContainer input::placeholder {
  font-family: "inter";
}

.joinGameContainer button {
  color: white;
  width: 4vw;
  height: 4wv;
  margin: 7px;
  border: none;
  border-radius: 0.7vw;
  padding: 1%;
  font-size: 16px;
  background: linear-gradient(145deg, #ff8b8b, #db7575);
  box-shadow: 5px 5px 10px #ca6c6c, -5px -5px 10px #ff9898;
  cursor: pointer;
}
.join-btn-img {
  width: 2vw;
  height: 2vw;
}

.joinGameContainer button:hover {
  background: #d67671;
}

.home-btn-img {
  width: 6vw;
  height: 6vw;
}

.home-btn {
  text-align: center;
  width: 7vw;
  height: 7wv;
  margin: 7px;
  border: none;
  border-radius: 0.7vw;
  padding: 1%;
  background: linear-gradient(145deg, #ff8b8b, #db7575);
  box-shadow: 5px 5px 10px #ca6c6c, -5px -5px 10px #ff9898;
  cursor: pointer;
  margin: 2%;
}

.home-btn:hover {
  transform: translateY(2px);
  background: #d67671;
}

.home {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit-btn {
  margin-bottom: 1vw;
  height: 4vw;
  width: 5vw;
  border: 0;
  border-radius: 20px;
  background: linear-gradient(145deg, #e86f6f, #c35e5e);
  box-shadow: 10px 10px 40px #b85858, -27px -27px 54px #fa7878;
  color: white;
  text-align: center;
}

.exit-btn:active {
  transform: translateY(2px);
  background: linear-gradient(145deg, #e86f6f, #8b3b3b);
}

.exit-btn:hover {
  transform: translateY(2px);
  background: linear-gradient(145deg, #e86f6f, #8b3b3b);
}

/* Chat */
.chat-window {
  font-weight: "Inter";
  width: 15vw;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 1vw 1vw 0 0;
  background: linear-gradient(145deg, #f27878, #cb6565);
  box-shadow: 27px 27px 52px #cb6565, -27px -27px 52px #f97b7b;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.chat-window .chat-header p {
  font-family: "Inter";
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: 30vh;
  border: 2px solid white;
  border-top: 0;
  border-bottom: 0;
  background: #eec9c9;
  font-family: "Inter";

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background: linear-gradient(145deg, #cb8888, #f2a2a2);
  box-shadow: 2px 2px 4px #e09595, -2px -2px 4px #e49999;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
  border-radius: 1rem;
  margin-bottom: 2px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  padding: 5px 10px;
}

#other .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-start;
  padding: 5px 10px;
  background: linear-gradient(145deg, #b988cb, #dca2f2);
  box-shadow: 2px 2px 4px #cc95e0, -2px -2px 4px #d099e4;
  margin-bottom: 2px;
}

#you .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  background: linear-gradient(145deg, #f27878, #cb6565);
  box-shadow: 10px 10px 52px #cb6565, -10px -10px 52px #f97b7b;
  height: 40px;

  border-top: 0;
  display: flex;
  border-radius: 0 0 1vw 1vw;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-radius: 0 0 1vw 1vw;
  width: 2vw;
  outline: none;
}

.chat-footer input::placeholder {
  font-family: "Inter";
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: #eedddd;
}

.chat-window .chat-footer button:hover {
  color: #ec7a7a;
}
.hide {
  opacity: 0 !important;
}

.tool-bar {
  margin-top: 5%;
  width: 10vw;
  height: 60vh;
  position: absolute;
  top: 5%;
  right: 20%;
  display: flex;
  flex-direction: column;
}

.chat-btn {
  margin-bottom: 1vw;
  height: 4vw;
  width: 5vw;
  border: 0;
  border-radius: 20px;
  background: linear-gradient(145deg, #e86f6f, #c35e5e);
  box-shadow: 10px 10px 40px #b85858, -27px -27px 54px #fa7878;
  color: white;
  text-align: center;
}

.chat-btn:active {
  transform: translateY(2px);
  background: linear-gradient(145deg, #e86f6f, #8b3b3b);
}

.chat-btn:hover {
  background: linear-gradient(145deg, #e86f6f, #8b3b3b);
}

.score-bar {
  margin-top: 5%;
  width: 10vw;
  height: 50vh;
  position: absolute;
  top: 5%;
  left: 20%;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "inter";
  border-radius: 50px;
  background: linear-gradient(145deg, #c78888, #eca2a2);
  box-shadow: 33px 33px 65px #ce8c8c, -33px -33px 65px #eca2a2;
  align-items: center;
  justify-content: center;
}

.score-line {
  width: 4rem;
  height: 1rem;
  border-radius: 5px;
  border: 0;
  background: linear-gradient(145deg, #ffffff, #d2d1d1);
}

.score-player {
  margin: 3%;
  font-weight: 100;

  font-size: 2.5rem;
  color: linear-gradient(145deg, #ffffff, #d2d1d1);
}

.score-number {
  font-weight: 700;
  font-size: 2.5rem;
}

.close-btn p {
  margin: 0;
}

/* BOT GAME */
.bot-game-pop-up {
  height: 70%;
  width: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 4vw;
  background: linear-gradient(145deg, #fda8a8, #d48d8d);
  box-shadow: 32px 32px 64px #b87a7a, -32px -32px 64px #ffc0c0;
  color: white;
  font-family: "inter";
  font-size: 1.5rem;
  padding: 1%;
}

.bot-mode img {
  width: 3vw;
  height: 3vw;
}

.bot-mode-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30%;
}

.bot-game-pop-up h1 {
  margin: 2%;
}

.bot-game-pop-up h2 {
  color: rgb(251, 251, 251);

  margin: 2%;
}
.bot-mode h1 {
  color: white;
  font-family: "inter";
  margin: 2% 0;
  font-size: 1.5rem;
}

.bot-mode {
  width: 20%;
  height: 6vw;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3rem;
  background: linear-gradient(145deg, #ff8b8b, #db7575);
  box-shadow: 5px 5px 10px #ca6c6c, -5px -5px 10px #ff9898;
}

.bot-chosen {
  border: white solid 10px;
}

.bot-mode:hover {
  background: linear-gradient(145deg, #ff8b8b, #a45555);
}

.bot-mode:active {
  transform: translateY(4px);
}

.bot-game-x-or-o img {
  width: 3vw;
  height: 3vw;
}

.bot-game-x-or-o div {
  width: 5vw;
  height: 5vw;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3rem;
  margin: 0 3%;
  background: linear-gradient(145deg, #ff8b8b, #db7575);
  box-shadow: 5px 5px 10px #ca6c6c, -5px -5px 10px #ff9898;
}

.bot-game-x-or-o {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bot-game-x-or-o div:active {
  transform: translateY(4px);
}

.bot-game-x-or-o div:hover {
  background: linear-gradient(145deg, #ff8b8b, #a45555);
}

.bot-close-btn {
  color: white;
  width: 4vw;
  height: 2vw;
  margin: 6%;
  border: none;
  border-radius: 0.7vw;
  padding: 1%;
  font-size: 16px;
  background: linear-gradient(145deg, #ff8b8b, #db7575);
  box-shadow: 5px 5px 10px #ca6c6c, -5px -5px 10px #ff9898;
  cursor: pointer;
}

.bot-close-btn p {
  margin: 0;
}

.bot-close-btn:active {
  transform: translateY(4px);
}

.bot-close-btn:hover {
  background: linear-gradient(145deg, #ff8b8b, #a45555);
}

.bot-bar {
  position: absolute;
  margin-top: 15%;
  top: 6%;
  right: 22%;
  width: 9vw;
  border-radius: 50px;
  background: #d69f9f;
  box-shadow: inset 20px 20px 60px #b68787, inset -20px -20px 60px #f6b7b7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1% 0;
}

.bot-bar-line {
  background: linear-gradient(145deg, #ffe8e8, #e8dfdf);
  width: 5vw;
  height: 0.7vw;
  border-radius: 3rem;
  margin: 6%;
}

.bot-icon {
  width: 3vw !important;
  height: 3vw;
}

.bot-bar img {
  width: 4vw;
  height: 4vw;
  margin: 1% 0;
}

.bot-bar h1 {
  margin: 0;
  font-family: "inter";
  color: white;
  font-weight: 700;
  font-size: 5rem;
}

.bot-score-icon {
  width: 5vw;
  height: 5vw;
}

/* OFFLINE SCORE */
.offline-score {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.offline-score div {
  background: linear-gradient(145deg, #ff7a7a, #d66767);
  box-shadow: 2px 2px 4px #e06b6b, -2px -2px 4px #fc7979;
  width: 20px;
  height: 1vw;
  width: 1vw;
  margin: 0 7%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offline-score div p {
  margin: 0;
  user-select: none;
}

.offline-score div:hover {
  background: linear-gradient(145deg, #ff7a7a, #975353);
  cursor: pointer;
}

.offline-score div:active {
  transform: translateY(2px);
}

/* mobile styling */
@media (max-width: 900px) {
  body {
    margin-top: 37%;
  }
  .board {
    margin: 6% auto 4% auto;
    width: 55vw;
    height: 55vw;
  }

  .box {
    width: 15.8vw;
    height: 15.8vw;
    border: white solid 1.2vw;
  }

  .restart-btn {
    height: 7vw;
    width: 7vw;
  }

  .score-bar {
    width: 15vw;
    height: 15rem;
    top: 17%;
    left: 3%;

    box-shadow: 5px 5px 15px #ce8c8c, -3px -3px 15px #eca2a2;
  }

  .score-line {
    width: 20px;
    height: 6px;
    border-radius: 5px;
    border: 0;
    background: linear-gradient(145deg, #ffffff, #d2d1d1);
  }

  .score-player {
    font-weight: 100;
    margin: 0;
    font-size: 0.7rem;
    color: linear-gradient(145deg, #ffffff, #d2d1d1);
  }

  .score-number {
    font-weight: 700;
    font-size: 1.2rem;
  }

  .tool-bar {
    width: 10vw;
    height: 60vh;
    top: 18%;
    right: 9%;
  }
  .exit-btn {
    margin-bottom: 3vw;
    height: 10vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 30px #b85858, -2px -2px 20px #fa7878;
  }
  .restart-logo {
    height: 3vw;
  }
  .chat-btn {
    height: 10vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .restart-btn {
    margin-top: 0;
    height: 7vw;
    width: 7vw;
  }
  .chat-window {
    position: absolute;
    top: 57%;
    right: 55%;
    width: 70vw;
  }

  .chat-window .chat-header {
    box-shadow: 5px 5px 20px #cb6565, -2px -10px 20px #f97b7b;
    border-radius: 20px 20px 0 0;
  }

  .result-container {
    font-size: 0.7rem !important;
  }
  .winning-box {
    border: rgb(255, 255, 0) solid 1.3vw;
  }
  .x-or-o {
    width: 11vw;
    margin-top: 16%;
  }
  #you .message-content {
    padding: 2px 7px;
    margin-bottom: 7%;
  }
  #other .message-content {
    padding: 2px 7px;
  }

  .chat-window .chat-body {
    height: 25vh;
    border: 2px solid white;
    border-top: 0;
    border-bottom: 0;
    background: #eec9c9;
    font-family: "Inter";

    position: relative;
  }

  .home-btn-img {
    width: 10vw;
    height: 10vw;
  }

  .home-btn {
    width: 12vw;
    height: 12wv;
    border-radius: 20px;
    padding: 3%;
    margin: 3%;
  }

  .joinGameContainer {
    height: 40vh;
    width: 70vw;
    border-radius: 10vw;
    padding: 5%;
  }

  .joinGameContainer h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .joinGameContainer input {
    width: 50vw;
    height: 3.5vh;
    margin: 5%;
    border-radius: 4vw;
    font-size: 14px;
  }

  .joinGameContainer button {
    width: 15vw;
    height: 12vw;
    border-radius: 4vw;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .join-btn-img {
    width: 5vw;
    height: 5vw;
  }

  .bot-bar {
    width: 10vw;
    height: 30vw;
    top: 25.5%;
    right: 9%;
  }

  .bot-bar h1 {
    font-size: 1.2rem;
  }

  .bot-bar img {
    width: 10vw;
    height: 6vw;
    margin: 4px;
  }

  .bot-icon {
    width: 8vw !important;
    height: 4vw !important;
  }

  .bot-game-pop-up {
    height: 50%;
    width: 80%;
    margin: 25% auto;
    border-radius: 10vw;
  }

  .bot-mode img {
    width: 10vw;
    height: 10vw;
  }

  .bot-mode-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
  }

  .bot-game-pop-up h1 {
    font-size: 2rem;
  }

  .bot-game-pop-up h2 {
    font-size: 1.2rem;
  }
  .bot-mode h1 {
    font-size: 0.6rem;
    margin-top: 3px;
  }

  .bot-mode {
    width: 23%;
    height: 15vw;
    padding: 1%;
  }

  .bot-chosen {
    border: white solid 5px;
  }

  .bot-mode:active {
    transform: translateY(1px);
  }

  .bot-game-x-or-o img {
    width: 10vw;
    height: 10vw;
  }

  .bot-game-x-or-o div {
    width: 13vw;
    height: 13vw;
    padding: 2%;
  }

  .bot-game-x-or-o div:active {
    transform: translateY(1px);
  }

  .bot-close-btn {
    width: 20vw;
    height: 10vw;
    border-radius: 3vw;
  }

  .offline-score div {
    width: 4vw;
    height: 3vw;
    width: 1vw;
    margin: 0 20%;
    padding: 4%;
  }

  .offline-score div p {
    margin: 0;
    font-size: 0.6rem;
  }
}
