body {
  width: 100%;
  height: 100%;
  background-color: #fbbcbc;
}

.board {
  margin: 3.9% auto 2% auto;
  width: 30vw;
  height: 30vw;
  display: grid;
  grid-template-columns: auto auto auto;
}

.box {
  width: 9vw;
  height: 9vw;
  border: white solid 0.6vw;
  text-align: center;
  border-radius: 20%;
  background: linear-gradient(45deg, #e2a9a9, #ffc9c9);
  box-shadow: 29px -29px 79px #cb9898, -29px 29px 79px #ffe0e0;
}

.box:active {
  transform: translateY(2px);
}

.x-or-o {
  width: 6vw;
  margin-top: 15%;
}

svg {
  color: white;
}
.winning-box {
  border: rgb(255, 255, 0) solid 0.6vw;
}

.game-container {
  text-align: center;
}

.restart-btn {
  font-weight: 700;
  height: 4vw;
  width: 5vw;
  border: 0;
  border-radius: 20px;
  background: linear-gradient(145deg, #e86f6f, #c35e5e);
  box-shadow: 10px 10px 40px #b85858, -27px -27px 54px #fa7878;
  color: white;
}

.restart-btn:active {
  transform: translateY(2px);
  background: linear-gradient(145deg, #e86f6f, #8b3b3b);
}

.restart-logo {
  height: 2vw;
}

.box h1 {
  margin: 0;
}

.result-container {
  color: #5c1111;
  margin: 0;
  font-size: 1.8vw !important;
  height: 1vw;
  width: 100vw;
  font-family: "Inter";
}

.multiplayer {
  text-align: center;
}

.joinGameContainer {
  height: 50vh;
  width: 30vw;
  border-radius: 3vw;
  margin: 5% auto;
  background: linear-gradient(145deg, #fda8a8, #d48d8d);
  box-shadow: 32px 32px 64px #b87a7a, -32px -32px 64px #ffc0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.joinGameContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: "Inter";
  color: white;
}
.joinGameContainer input {
  font-family: "Inter";
  font-weight: bold;
  outline: none;
  width: 12vw;
  height: 4vh;
  border: 0;
  margin: 3%;
  background: #ffffff;
  box-shadow: inset 21px 21px 42px #cccccc, inset -21px -21px 42px #ffffff;
  border-radius: 0.7vw;
  padding: 5px;
  font-size: 16px;
}

.joinGameContainer input::placeholder {
  font-family: "inter";
}

.joinGameContainer button {
  color: white;
  width: 4vw;
  height: 4wv;
  margin: 7px;
  border: none;
  border-radius: 0.7vw;
  padding: 1%;
  font-size: 16px;
  background: linear-gradient(145deg, #ff8b8b, #db7575);
  box-shadow: 5px 5px 10px #ca6c6c, -5px -5px 10px #ff9898;
  cursor: pointer;
}
.join-btn-img {
  width: 2vw;
  height: 2vw;
}

.joinGameContainer button:hover {
  background: #d67671;
}

.home-btn-img {
  width: 6vw;
  height: 6vw;
}

.home-btn {
  text-align: center;
  width: 7vw;
  height: 7wv;
  margin: 7px;
  border: none;
  border-radius: 0.7vw;
  padding: 1%;
  background: linear-gradient(145deg, #ff8b8b, #db7575);
  box-shadow: 5px 5px 10px #ca6c6c, -5px -5px 10px #ff9898;
  cursor: pointer;
  margin: 2%;
}

.home-btn:hover {
  transform: translateY(2px);
  background: #d67671;
}

.home {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
