body {
  width: 100%;
  height: 100%;
  background-color: #fbbcbc;
}

.board {
  margin: 3% auto 2% auto;
  width: 30vw;
  height: 30vw;
  display: grid;
  grid-template-columns: auto auto auto;
}

.box {
  width: 9vw;
  height: 9vw;
  border: white solid 0.6vw;
  text-align: center;
  border-radius: 20%;
  background: linear-gradient(45deg, #e2a9a9, #ffc9c9);
  box-shadow: 29px -29px 79px #cb9898, -29px 29px 79px #ffe0e0;
}

.box:active {
  transform: translateY(2px);
}

.x-or-o {
  width: 6vw;
  margin-top: 15%;
}

svg {
  color: white;
}
.winning-box {
  border: rgb(255, 255, 0) solid 0.6vw;
}

.game-container {
  text-align: center;
}

.restart-btn {
  font-weight: 700;
  height: 4vw;
  width: 5vw;
  border: 0;
  border-radius: 20px;
  background: linear-gradient(145deg, #e86f6f, #c35e5e);
  box-shadow: 10px 10px 40px #b85858, -27px -27px 54px #fa7878;
  color: white;
}

.restart-btn:active {
  transform: translateY(2px);
  background: linear-gradient(145deg, #e86f6f, #8b3b3b);
}

.restart-logo {
  height: 2vw;
}

.box h1 {
  margin: 0;
}

.result-container {
  color: #5c1111;
  margin-top: 1.5%;
  font-size: 2rem;
  height: 1vw;
  width: 100vw;
  font-family: "Inter";
}
